<!DOCTYPE html>
<html>
  <head>
    <title>Algorithmes</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />

    <style></style>
  </head>
  <body>
    <div class="container-fluid fill">
      <div class="container">
        <div class="row h-100 border border-primary rounded">
          <div class="col-12 col-lg-6 border border-primary rounded">
            <h2>문제 랭킹</h2>
            <% problemRank.forEach((e,i) => { %>
            <div>
              <a target="_blank" rel="noopener noreferrer" href="https://www.acmicpc.net/problem/<%= e.number%>">
                <%= e.number %></a
              >
              <%= e.name %> : <%= e.cnt %>
            </div>
            <% }) %>
          </div>
          <div class="col-12 col-lg-6 border border-primary rounded">
            <h2>유저 랭킹</h2>
            <canvas id="userRankChart" width="400" height="400"></canvas>
          </div>
          <div class="col-12 col-lg-6 border border-primary rounded">
            기간동안 풀문제
          </div>
          <div class="col-12 col-lg-6 border border-primary rounded">
            유저검색
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="js/algo/chartUtil.js"></script>
    <script src="js/algo/chart.js"></script>
    <script>
      const userRank = JSON.parse(`<%-JSON.stringify(userRank)%>`);
      const algoChart = new AlgoChart(userRank);
    </script>
  </body>
</html>
