<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>ONLY EFFORT</title>

    <!-- Font Awesome Icons -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="css/creative.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <% include ../partials/header.ejs %>

    <!-- Masthead -->
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">
              사고력 증진을 목표로 합니다.
            </h1>
            <hr class="divider my-4" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 font-weight-light mb-5">
              1. 다양한 방법으로 푸는것을 지향합니다.<br />
              2. 남의 코드를 복사/붙여넣기 하지 않습니다. <br />
              3. 좋은 문제를 공유합니다.
            </p>
          </div>
        </div>
      </div>
    </header>

    <section class="page-section" id="algo">
      <div class="container">
        <div class="row justify-content-between">
          <!-- 문제순위 -->
          <div class="col-12 col-lg-5 col-md-12 shadow-lg rounded p-4">
            <div class="row justify-content-center mt-2">
              <h2><%=week%>주차 문제 순위</h2>
            </div>

            <!-- table -->
            <table class="table table-striped mt-2">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">문제번호</th>
                  <th scope="col">문제이름</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody>
                <% problemRank.forEach((e,i) => { %>
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.acmicpc.net/problem/<%= e.number%>">
                      <%= e.number %></a
                    >
                  </td>
                  <td><%= e.name %></td>
                  <td><%= e.cnt %></td>
                </tr>

                <% }) %>
              </tbody>
            </table>
            <!-- //table -->
          </div>
          <!-- // 문제순위 -->
          <!-- 유저 순위 -->
          <div class="col-12 col-lg-6 shadow-lg rounded p-4">
            <div class="row justify-content-center mt-2">
              <h2><%=week%>주차 유저 순위</h2>
            </div>
            <canvas id="userRankChart" width="400" height="400">
              Your browser does not support the canvas element.
            </canvas>
          </div>
          <!-- // 유저순위 -->

          <!-- 일주일간 문제풀이  -->
          <div class="col-12 col-lg-12 shadow-lg rounded mt-5 p-4">
            <div class="row justify-content-center mt-2">
              <h2><%=week%>주차 일별 문제풀이 갯수</h2>
            </div>
            <canvas id="weeklySolveChart" width="400" height="200">
              Your browser does not support the canvas element.
            </canvas>
          </div>
          <!-- // 일주일간 문제풀이 -->
          <!-- 유저 검색 -->
          <div class="col-12 col-lg-12 shadow-lg h-10 rounded mt-5 p-4">
            <div class="row justify-content-center mt-2">
              <h2>유저 검색</h2>
            </div>

            <div class="row">
              <div class="col-12 col-lg-4">
                <select class="form-control border border-primary" id="range-select">
                  <% users.forEach((v,i) => { %>
                  <option><%=v.bojId %></option>
                  <% })%>
                </select>
              </div>
              <div class="col-12 col-lg-6 rounded text-center">
                <div id="user-serach-datetimes"" style="background: #fff; cursor: pointer; padding: 5px 10px; border:
                1px solid #ccc; width: 100%">
                <i class="fa fa-calendar"></i>&nbsp; <span></span> <i class="fa fa-caret-down"></i>
              </div>
            </div>
            <div class="col-12 col-lg-2 rounded">
              <button type="button" class="btn btn-primary" id="searchRangeSolve">검색</button>
            </div>

            <!-- table -->
            <div id="range-wrap" class="col-12 col-lg-12"></div>
          </div>
          <!-- //유저검색 -->
        </div>
      </div>
      <!-- //container -->
    </section>

    <% include ../partials/footer.ejs %>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="js/util/ajaxUtil.js"></script>
    <script src="js/algo/chartUtil.js"></script>
    <script src="js/algo/chart.js"></script>
    <script src="js/algo/DateRangePicker.js"></script>

    <script>
      const userRank = JSON.parse(`<%-JSON.stringify(userRank)%>`);
      const dailySolve = JSON.parse(`<%-JSON.stringify(dailySolve)%>`);
      const algoChart = new AlgoChart(userRank, dailySolve);
      new DateRangePicker();

      let start = moment().add(-1, 'days');
      let end = moment().add(-1, 'days');
      $(function() {
        function cb(st, ed) {
          $('#user-serach-datetimes span').html(st.format('YYYY-MM-DD') + ' - ' + ed.format('YYYY-MM-DD'));
          start = st;
          end = ed;
        }

        $('#user-serach-datetimes').daterangepicker(
          {
            startDate: start,
            endDate: end,
            ranges: {
              Today: [moment(), moment()],
              Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Last 7 Days': [moment().subtract(6, 'days'), moment()],
              'Last 30 Days': [moment().subtract(29, 'days'), moment()],
              'This Month': [moment().startOf('month'), moment().endOf('month')],
              'Last Month': [
                moment()
                  .subtract(1, 'month')
                  .startOf('month'),
                moment()
                  .subtract(1, 'month')
                  .endOf('month')
              ]
            },
            locale: {
              format: 'YYYY-MM-DD'
            }
          },
          cb
        );

        cb(start, end);
      });
    </script>
  </body>
</html>
